#resultado{
    animation: example 5s infinite;
    font-size: 100px;
    height: 15vh;
}
@keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
#res{
    font-size: 50px;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 10em;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    background: #b29a92;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
