*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


#resultado{
    display: flex;
    align-items: center;
    animation: example 5s infinite;
    font-size: 100px;
    height: fit-content;
}
@keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
#res{
    font-size: 50px;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 30px 35px;
    background: #b29a92;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.item {
    color: brown;
}

.header{
    align-items: center;
    display: flex;
    margin: 400px 50px 0px 170px;
    justify-content: center;
    border-radius: 10px;
    background-color: blue;
    width: 80%;
    box-sizing: border-box;
    padding: 0;

}

