#resultado{
    animation: example 5s infinite;
    font-size: 100px;
}
@keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
#res{
    font-size: 50px;
    text-align: center;
    margin: auto;
    width: 10em

}
